ul {
    background-color: olivedrab;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

li {
    list-style-type: none;
    /* display: inline; */
    /* background-color: green; */
}

.outer{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: peru;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: cyan;
}