.loader {
    height: 100px;
    width: 100px;
    border: 15px solid #ADA8B6;
    border-top: 15px solid #2B2D42;
    border-radius: 50%;
    animation: spin 3.5s ease-in-out 0s infinite normal;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}