div {
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
}

@media (min-width : 600px){
    div {
        background-color: crimson;
    }
}

@media (max-width : 600px){
    div {
        background-color: coral;
    }
}

@media (min-width : 200px) and (max-width : 300px){
    div {
        background-color: blueviolet;
    }
}



/* body {
    text-align: center;
}

div {
    height: 50px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: brown;
    align-self: center;
}

#box3{
    background-color: greenyellow;
}

#box4{
    background-color: orange;
}

#box5{
    background-color: palevioletred;
} */