div {
    height: 100px;
    width: 100px;
    background-color: cyan;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 10px;

    /* animation-property */

    /* animation-name: coloranimate;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    animation: coloranimate 5s ease-in-out 0.2s infinite alternate ;

    /* transition-property */

    /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 10ms; */

    transition: all 2s ease-in;
}

/* @keyframes coloranimate {
    from { top: 0px;}
    to {top: 400px;}
} */

div:hover {
    background-color: darkcyan;
    font-size: 20px;
    transform: scale(0.5,0.5);
    transform: rotate(45deg);
    transform: translatex(100px);
    /* transform: skew(-90deg); */
}

div:active {
    background-color: yellow;
    /* transition-delay: 3ms; */
}