*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
    margin-left: 10px;
}

input{
    color: black;
}

a{
    margin-right: 200px;
    text-decoration: none;
}

#content{
    height: 650px;
}

.contentbox{
    height: 100px;
    width: 100px;
    color: black;
    margin: 9px;
    border: 2px solid brown;
    display: inline-block;
}

footer{
    color: whitesmoke;
    background-color: #0f1111;
    text-align: center;
}

