*{
    padding: 0px;
    margin: 0px;
    color: white;
}

#navbar{
    height: 60px;
    background-color: rgba(0, 0, 255, 0.75);
}

#logo{
    color: goldenrod;
    font-size: 25px;
    margin-left: 10px;
}

a{
    text-decoration: none;
    margin-right: 100px;
}

h5{
    color: rgb(6, 134, 143);
}

input{
    color:rgb(2, 69, 63);
    background-color: rgb(9, 154, 190);
}

body{
    background-color: rgb(203, 200, 200);
}

table{
    color: crimson;
    th{
        color:rgb(66, 61, 61);
    }
}

footer{
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 255, 0.75);
}